@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;

}
:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#e0dddd;
    --secondary-color:#29a9fd;
    --bs-supporting-color: #c850c0;
}
h1, h2, h3, h4, h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--secondary-color);
}  
h1{
    font-size: 3.8rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}
p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color:var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
   /* font-synthesis: none;
    text-rendering: optimizeLegibility; */
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* /////////////////////// general CSS end*/
.bg-main{
    height: 80vh;
    position: relative;

}
.banner-section.container{
    display: grid;
    place-content: center;
    height: inherit;
}
.bg-color{
    background-color: var(--bs-dark-color);
}
.video-section{
    width: 30rem;
    height: auto;
    border-radius: 2rem;
}
.nav-link{
    color: var(--bs-main-color);
}
.nav-link:hover{
    color: var(--secondary-color);
}
.custom-shape-divider-bottom-1712730015 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712730015 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1712730015 .shape-fill {
    fill: #ffffff;
}
.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}
.Services-section{
    padding: 6rem 0 3rem;
}
.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.1), rgba(22,22,22,0.1)), url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding: 6rem 0;
}



@media screen and (max-width:998px) {
    .navbar-toggler{
        border-color: var(--bs-main-color);
        border: 2px solid rgb(243, 237, 237);
}
.navbar-toggler-icon{
    color: var(--bs-main-color);
    background-color: var(--bs-secondary-color);
    border-radius: 10px;
}

}
button, a{
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
}
.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;

}
